{% extends 'base.html.twig' %}
{% block title %}Admin Panel{% endblock %}

{% block body %}
    {% include "api/index.html.twig" %}
    {% include "admin/adminOptions.html.twig" %}
    {{form_start(form)}}
            {{form_widget(form)}}
            <button    
                type="submit"
                class="but">
                search
            </button>
        {{form_end(form)}}
    {% if users|length != 0 %}
        <table>
            <tr>
                <th>User Name</th>
                <th>is Admin?</th>
                <th>options</th>
            </tr>
        {% for user in users %} 
            <tr>
                <td>{{user.username}}</td>
                <td>
                    {% if "ROLE_ADMIN" in user.roles %}
                        YES
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    {% if "ROLE_ADMIN" in user.roles %}
                        <button onclick="changeStatus({{user.id}}, 'user')">'Promote' to User</button>
                    {% else %}
                        <button onclick="deleteAccount({{user.id}})">Delete Account</br>(with its posts)</button>
                        <button onclick="changeStatus({{user.id}}, 'admin')">Promote to Admin</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
         </table>
        {{ knp_pagination_render(users) }} 
    {% else %}
        <h1>There are no users with name containing "{{userName}}"</h1>
    {% endif %}
{% endblock %}
