{% extends "base.html.twig" %}

{% block body %}
{% include "api/index.html.twig" %}
        {% for post in posts %}
                <div class="post">
                        <div class="photo"><img src="{{post.img}}" width="350" height="250"></div>
                        <div class="content">
                                <div class="title"><h1>{{post.title}}</h1></div>
                                <div class="snipet"><p>{{post.text}}</p></div>
                                <div class="buttons">
                                        <h4><em>~ {{post.user.username}} ~</em></h4>
                                        <button class="more" onclick="location.href='/blog/{{post.id}}'" type="button">read more</button>
                                        {% if app.user %}
                                                {% if app.user.id == post.user.id %}
                                                        <button class="edit" onclick="location.href='/blog/edit/{{post.id}}/index'" type="button">edit</button>
                                                        <button class="delete" onclick="location.href='/blog/delete/{{post.id}}'" type="button">delete</button>
                                                                
                                                {% else %}
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                                <button class="delete" onclick="location.href='/blog/delete/{{post.id}}'" type="button">delete</button>
                                                        {% endif %}
                                                        <button class="report" onclick="reportPost({{post.id}},{{app.user.id}})" type="button">report</button> 
                                                {% endif %}      
                                        {% endif %}
                                </div>
                        </div>
                </div>         
        {% endfor %}
{{ knp_pagination_render(posts) }}        
{% endblock %}
